{{- if .IsPage }}
{{- $sectionMap := dict "creadores" "creators" "inmobiliarias" "real-estate" "tiendas-online" "ecommerce" "resenas" "reviews" "alternativas" "alternatives" }}
{{- $enSection := index $sectionMap .Section | default .Section }}
{{- $slug := .File.TranslationBaseName }}
<link rel="alternate" hreflang="es" href="https://iaprobada.com/{{ .Section }}/{{ $slug }}/">
<link rel="alternate" hreflang="en" href="https://toolcritic.co/{{ $enSection }}/{{ $slug }}/">
<link rel="alternate" hreflang="x-default" href="https://toolcritic.co/{{ $enSection }}/{{ $slug }}/">
{{- end }}
